<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplos</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
    <div id="app">

       <span>{{texto}}</span> 
        <h2>{{textoModificado}}</h2>
        <h4>{{segundoTexto}}</h4>

        <h3 v-if="!hayPersonas" >No hay personas para mostrar</h3>
        <ul>
            <li v-for="(item, index) in personas" 
            :key="index"
            :class="item.species.toLowerCase()"
            :title="item.status"
            >
                 Nombre :  {{item.name}} 
                 <div>
                    Origen :  {{item.origin.name}} 
                    

                 </div>
                 <div>
                    Especie: {{item.species}} 

                 </div>
                  <hr>
                
                 
            </li>
        </ul>
        <h3>solo son Aliens los siguientes personajes: </h3>
            <ul>
            <li v-for="(humano, index2) in humanos" 
            :key="index2"
            :title="humano.status"
            >
                 Nombre :  {{humano.name}} 
                 
                  <hr>
                
                 
            </li>

        </ul>

    </div>



</body>
    
<script src="app.js"></script>

</html>

<style>
    .human {
        color:blue
    }
    .alien {
        color:red
    }
</style>